body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
    margin: 0;
}

.converter-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    flex-direction:column;
}

.container {
    max-width: 450px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hasil {
    text-align: center;
    color: #007BFF;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #007BFF;
}

.converter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    width: 100%;
    margin-bottom: 0.5rem;
    color: #333;
}

input,
select,
button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

.result {
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
}

nav {
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-logo {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar-icon {
    width: 100px; 
    height: 15px; 
    margin-right: 10px;
}

.navbar-links {
    display: flex;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

.navbar-links a:hover {
    background-color: #ddd;
    color: black;
}

.navbar-links a:not(:last-child) {
    margin-right: 20px;
}

.navbar-title-text {
    color: white;
    font-family: 'Segoe UI', sans-serif; 
    font-size: 1.5rem; 
    margin: 0;
}

